<header class = "header">

<div class = "header_c">
<a href="https://15ac699d368142e7afabbdb0da2f9483.vfs.cloud9.us-east-2.amazonaws.com/">
<img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" class = "header_b"></a>
</div>
<div class = "header_a">
<a> <img src=<%= current_user.image %> class = "icon_image2 header_c header_d"></a>
<a class = "text30"> <%=current_user.name %></a>
</div>
</header>

<div class = "sub">
<div class = "migi hidari15">
<a class = "hidari15"><%= link_to "ルーム登録" ,:new_post %></a>
<a class = "hidari15"><%= link_to "登録済みルーム一覧", "https://15ac699d368142e7afabbdb0da2f9483.vfs.cloud9.us-east-2.amazonaws.com/posts/roomshow" %></a>
<a class = "hidari15"><%= link_to "予約済みルーム一覧", "https://15ac699d368142e7afabbdb0da2f9483.vfs.cloud9.us-east-2.amazonaws.com/reservations/index" %></a>
<a class = "hidari15"><%= link_to "ユーザー情報", "https://15ac699d368142e7afabbdb0da2f9483.vfs.cloud9.us-east-2.amazonaws.com/users/show" %></a>
<a class = "hidari15"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
</div>
</div>

<body class = "top-main">

<h2 class = "midasi2">ルーム登録</h2>

<div class = "sub3 w230">
<%= form_for(@post) do |f| %> 
<div class="field">
<em>ルーム名</em><br>
<%= f.text_field :roomname %>
</div>
<br>

<div class="field">
<a>ルーム紹介</a><br>
<%= f.text_area :roomdata %>
</div>
  
<div class="field">
<a>料金</a><br>
<%= f.number_field :kane %>
</div>

<div class="field">
<em>住所</em><br />
<%= f.text_field :juusyo %>
</div>

<div class="field">
<em>ルーム画像</em><br>
<%= f.file_field :image  %>
</div>
  
<div class="actions">
<%= f.submit "登録する", data: { confirm: "これでよろしいでしょうか？" }  %>
</div>
<% end %>

<button type="submit"><%= link_to " 前に戻る", "https://15ac699d368142e7afabbdb0da2f9483.vfs.cloud9.us-east-2.amazonaws.com/" %></button>
</div>

</body>

<footer class = "foooter">
<p>© 2021 POTEPAN.INC.</p>
</footer>